<header class="navbar navbar-default navbar-fixed-top">
	<nav class="container">
		<div class="navbar-header">
			<button id="icon-bar" class="collapsed navbar-toggle" data-target="#navbar" data-toggle="collapse">
				<span class="sr-only">切换导航</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="__ROOT__" class="navbar-brand"><b>蜗牛--博客</b></a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav nav-tabs navbar-right">
				<volist name="nav" id="nav">
				<if condition="$nav.model eq 0 && $nav.display eq 1 ">
				    <li class="center-block"><a href="__ROOT__/<{$nav.path}>"><{$nav.zhli}></a></li>
				</if>
				</volist>
			</ul>
		</div>
	</nav>
</header>