<a href="__ROOT__/Snail/Nav/save" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
	<table class="table table-striped">
		<tr>
			<th class="col-md-2">模块</th>
			<th class="col-md-2">中文</th>
			<th class="col-md-2">英文</th>
			<th class="col-md-2">路径</th>
			<th class="col-md-2">状态</th>
			<th class="col-md-2">操作</th>
		</tr>
		<volist name="navls" id="navls">
		<tr>
			<td>
			<switch name="navls.model">
				<case value="1"><span>前台</span></case>
				<case value="0"><span class="ad">后台</span></case>
			</switch>
			</td>
			<td><{$navls.zhli}></td>
			<td><{$navls.enli}></td>
			<td><{$navls.path}></td>
			<td>
			<switch name="navls.display">
				<case value="1">显示</case>
				<case value="0"><span class="none">隐藏</span></case>
			</switch>
			</td>
			<td>
				<a href="__ROOT__/Snail/Nav/modify/id/<{$nav.id}>" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
				<a href="__ROOT__/Snail/Nav/del/id/<{$nav.id}>" class="btn btn-danger" onclick="return confirm('真的要删除吗?此操作不可恢复!')"><span class="glyphicon glyphicon-remove"></span></a>
			</td>
		</tr>
		</volist>
	</table>