<include file="Public/head" />
    <include file="Public/nav" />
    <form action="__ROOT__/Snail/Nav/update" method="post" class="container">
    	<table class="table">
    		<caption>Modified a Nav</caption>
			<input type="hidden" name="id" value="<{$id}>" />
			<tr>
				<td>
					<switch name="navls.model">
						<case value="1">
							<input type="radio" name="model" value="1" id="mdho" checked /><label for="mdho">前台</label>
							<input type="radio" name="model" value="0" id="mdad" /><label for="mdad">后台</label>
						</case>
						<case value="0">
							<input type="radio" name="model" value="1" id="mdho" /><label for="mdho">前台</label>
							<input type="radio" name="model" value="0" id="mdad" checked /><label for="mdad">后台</label>
						</case>
					</switch>
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" name="zhli" value="<{$navls.zhli}>" />
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" name="enli" value="<{$navls.enli}>" />
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" name="path" value="<{$navls.path}>" />
				</td>
			</tr>
			<tr>
				<td>
					<switch name="navls.display">
						<case value="1">
							<input type="radio" id="block" name="display" value="1" checked /><label for="block">显示</label>
							<input type="radio" id="none" name="display" value="0" /><label for="none">隐藏</label>
						</case>
						<case value="0">
							<input type="radio" id="block" name="display" value="1" /><label for="block">显示</label>
							<input type="radio" id="none" name="display" value="0" checked /><label for="none">隐藏</label>
						</case>
					</switch>
				</td>
			</tr>
		</table>
			<input type="submit" value="Modified" />
	</form>
<include file="Public/footer" />