<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]

</IfModule>
# 将 RewriteEngine 模式打开
RewriteEngine On

#snail的web

#RewriteCond %{HTTP_HOST} ^(www.)?starphp.net$
#RewriteCond %{REQUEST_URI} !^/sdt/
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ /sdt/$1
#RewriteCond %{HTTP_HOST} ^(www.)?starphp.net$
#RewriteRule ^(/)?$ sdt/index.php [L]

