<a href="__ROOT__/Snail/Flink/save" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
	<table class="table table-striped">
		<tr>
			<th class="col-md-3">网站名称</th>
			<th class="col-md-3">U R L 　</th>
			<th class="col-md-3">状　　态</th>
			<th class="col-md-3">操　　作</th>
		</tr>
		<volist name="flink" id="flink">
		<tr>
			<td><{$flink.webname}></td>
			<td><{$flink.url}></td>
			<td>
			<switch name="flink.display">
				<case value="1">显示</case>
				<case value="0"><span class="none">隐藏</span></case>
			</switch>
			</td>
			<td>
				<a href="__ROOT__/Snail/Flink/modify/id/<{$flink.id}>" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
				<a href="__ROOT__/Snail/Flink/del/id/<{$flink.id}>" class="btn btn-danger" onclick="return confirm('真的要删除吗?此操作不可恢复!')"><span class="glyphicon glyphicon-remove"></span></a>
			</td>
		</tr>
		</volist>
	</table>
