<include file="Public/head" />
    <include file="Public/nav" />
	<form action="__ROOT__/Snail/Flink/add" method="post" class="container">
		<table class="table">
			<caption>Add a new Flink</caption>
			<tr>
				<td>
					<input type="text" name="webname" placeholder="WebName" />
				</td>
			</tr>
			<tr>
				<td>
					<input type="url" name="url" placeholder="URL address" />
				</td>
			</tr>
			<tr>
				<td>
					<input type="radio" id="block" name="display" value="1" checked /><label for="block">显示</label>
					<input type="radio" id="none" name="display" value="0" /><label for="none">隐藏</label>
				</td>
			</tr>
		</table>
			 <input type="submit" value="Add" />
	</form>
<include file="Public/footer" />