        </div>
        <hr />
    <!--菜单开始-->
        <footer class="center clear margin-top">
            <div id="flink">
                <span>友情链接:</span>
                <!--遍历友情链接-->
                <volist name="flink" id="flink">
                <a target="_blank" href="<{$flink.url}>"><{$flink.webname}></a>
                </volist>
            </div>
            <p>
                Copyright &copy; 2015 www.iwnweb.com All rights reserved.
                <a target="_blank" href="http://www.miitbeian.gov.cn/">闽ICP备15003998号-1</a>
            </p>
    <!--菜单结束-->
        </footer>
        </div>
        <load href="__PUBLIC__/Js/index.js" />
        <load href="__PUBLIC__/Js/append.js" />
        <script>
        $(function(){
            var obj=null;
            var As=document.getElementById('header_nav').getElementsByTagName('a');
            obj = As[0];
            for(i=1;i<As.length;i++){
                if(window.location.href.indexOf(As[i].href)>=0)
                obj=As[i];
            }
            obj.id='selected';
        });
        </script>
    </body>
</html>
