<div id="left_container" class="left">
    <h2>标签:&nbsp;<span><{$labels}></span></h2>
    <volist name="article" id="article">
    <blockquote>
        <a href="__ROOT__/Home/Index/article/id/<{$article.id}>"><{$article.title}></a>
        <div class="first"><{$article.article}></div>
        <span class="left">分类:<a href="__ROOT__/Home/Index/group/label/<{$labels}>" class="rotate"><{$labels}></a></span>
        <span class="right"><{$article.posttime|date="Y-m-d h:i:s",###}></span>
    </blockquote>
    </volist>
    <include file="Public/page" />
</div>
<aside class="right">
<!--引入标签云模块-->
    <include file="Public/label_cloud" />
</aside>
