<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>蜗牛-个人博客</title>
    <link rel="shortcut icon" type="image/x-icon" href="__PUBLIC__/Images/favicon.ico" />
    <load href="__PUBLIC__/Js/jquery.js" />
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="__PUBLIC__/Css/bootstrap.min.css"> -->
    <load href="__PUBLIC__/Css/home/index.css" />
    <load href="__PUBLIC__/Css/home/animation.css" />