<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>蜗牛-个人博客后台管理页面</title>
        <link rel="shortcut icon" type="image/x-icon" href="__PUBLIC__/Images/favicon.ico" />
        <load href="__PUBLIC__/Js/jquery.js" />
        <meta http-equiv="Refresh" content="3; url=__ROOT__/Snail/Index/article" />
        <!-- 新 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <load href="__PUBLIC__/Css/admin/admin.css" />
    </head>
    <body>