<include file="Public/head" />
    <include file="Public/nav" />
	<form action="__ROOT__/Snail/Index/update" method="post" class="container">
		<table class="table">
    		<caption>Modified an Article</caption>
			<input type="hidden" name="id" value="<{$id}>" />
			<tr>
				<td>
					<input type="text" name="title" value="<{$article.title}>" />
				</td>
			</tr>
			<tr>
				<td>
					<switch name="article.type">
						<case value="blog">
						 	<input type="radio" name="type" value="blog" id="blog" checked /><label for="blog">Blog</label>
							<input type="radio" name="type" value="left" id="left" /><label for="left">Left</label>
						</case>
					    <case value="left">
							<input type="radio" name="type" value="blog" id="blog" /><label for="blog">Blog</label>
					     	<input type="radio" name="type" value="left" id="left" checked /><label for="left">Left</label>
					    </case>
				    </switch>
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" name="label" value="<{$article.label}>" />
				</td>
			</tr>
			<tr>
				<td>
					<script id="ueditor" name="article" type="text/plain"><{$article.article}></script>
					<include file="Public/ueditor" />
				</td>
			</tr>
			<tr>
				<td>
					<switch name="article.display">
						<case value="1">
							<input type="radio" id="block" name="display" value="1" checked /><label for="block">显示</label>
							<input type="radio" id="none" name="display" value="0" /><label for="none">隐藏</label>
						</case>
						<case value="0">
							<input type="radio" id="block" name="display" value="1" /><label for="block">显示</label>
							<input type="radio" id="none" name="display" value="0" checked /><label for="none">隐藏</label>
						</case>
					</switch>
				</td>
			</tr>
		</table>
		    <input type="submit" value="Modified" />
	</form>
<include file="Public/footer" />