<include file="Public/head" />
    <include file="Public/nav" />
	<form action="__ROOT__/Snail/Index/add" method="post" class="container">
		<table class="table">
			<caption>Add a new Article</caption>
			<tr>
				<td>
					<input type="text" name="title" placeholder="Title" />
				</td>
			</tr>
			<tr>
				<td>
					<input type="radio" name="type" value="blog" id="blog" /><label for="blog">Blog</label>
			        <input type="radio" name="type" value="left" id="left" /><label for="left">Left</label>
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" name="label" placeholder="Label" />				
				</td>
			</tr>
			<tr>
				<td>
			        <script id="ueditor" name="article" type="text/plain"></script>
					<include file="Public/ueditor" />
				</td>
			</tr>
			<tr>
				<td>
					<input type="radio" id="block" name="display" value="1" checked /><label for="block">显示</label>
			        <input type="radio" id="none" name="display" value="0" /><label for="none">隐藏</label>
				</td>
			</tr>
		</table>
	         <input type="submit" value="Add" />
	</form>
<include file="Public/footer" />
