<form action="__ROOT__/Snail/Index/add" method="post" style="margin:0 auto;width:80%">
    标题:<input type="text" name="title" /><br />
    类型:<input type="radio" name="type" value="blog" id="blog" /><label for="blog">Blog</label>
         <input type="radio" name="type" value="left" id="left" /><label for="left">Left</label><br />
    标签:<input type="text" name="label" /><br />
    文章:<!-- 加载编辑器的容器 -->
         <script id="ueditor" name="article" type="text/plain"></script>
    状态:<input type="radio" id="block" name="display" value="1" checked /><label for="block">显示</label>
         <input type="radio" id="none" name="display" value="0" /><label for="none">隐藏</label><br />
         <input type="submit" value="" style="background:url(__PUBLIC__/Images/b02.gif) no-repeat;width:40px;height:25px;border:0;" />
</form>
<include file="Public/ueditor" />