<a href="__ROOT__/Snail/<?php echo CONTROLLER_NAME ;?>/save" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
<div class="table-responsive">
	<table class="table table-striped">
		<tr>
			<th class="col-md-3">Key</th>
			<th class="col-md-3">Value</th>
			<th class="col-md-3">状　　态</th>
			<th class="col-md-3">操　　作</th>
		</tr>
		<volist name="about" id="about">
		<tr>
			<td><{$about.key}></td>
			<td class="summary"><{$about.value|mb_substr=0,10,'utf8'}></td>
			<td>
			<switch name="about.display">
				<case value="1">显示</case>
				<case value="0"><span class="none">隐藏</span></case>
			</switch>
			</td>
			<td>
				<a href="__ROOT__/Snail/<?php echo CONTROLLER_NAME ;?>/modify/id/<{$about.id}>" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
				<button data-toggle="modal" data-target="#warning" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
				<include file="Public/modal_head" />
					<a href="__ROOT__/Snail/<?php echo CONTROLLER_NAME ;?>/del/id/<{$about.id}>" class="btn btn-danger">Yes</a>
				<include file="Public/modal_footer" />
			</td>
		</tr>
		</volist>
	</table>
</div>