<a href="__ROOT__/Snail/About/save">添加About</a>
	<table>
		<tr>
			<th>Key</th>
			<th>Value</th>
			<th>状　　态</th>
			<th>操　　作</th>
		</tr>
		<volist name="about" id="about">
		<tr>
			<td><{$about.key}></td>
			<td class="first"><{$about.value|mb_substr=0,10,'utf8'}></td>
			<td>
			<switch name="about.display">
				<case value="1">显示</case>
				<case value="0"><span class="ad">隐藏</span></case>
			</switch>
			</td>
			<td>
				<a href="__ROOT__/Snail/About/modify/id/<{$about.id}>">修改</a>
				<a href="__ROOT__/Snail/About/del/id/<{$about.id}>" onclick="return confirm('真的要删除吗?此操作不可恢复!')">删除</a>
			</td>
		</tr>
		</volist>
	</table>
