<include file="Public/head" />
    <include file="Public/nav" />
    <form action="__ROOT__/Snail/About/update" method="post" class="container">
    	<table class="table">
    		<caption>Modified an About</caption>
    		<input type="hidden" name="id" value="<{$id}>" />
    		<tr>
    			<td>
    				<input type="text" name="key" value="<{$about.key}>" />
    			</td>
    		</tr>
    		<tr>
    			<td class="col-xs-12">
    				<script id="ueditor" name="value" type="text/plain"><{$about.value}></script>
					<include file="Public/ueditor" />
    			</td>
    		</tr>
    		<tr>
    			<td>
    				<switch name="about.display">
						<case value="1">
							<input type="radio" id="block" name="display" value="1" checked /><label for="block">显示</label>
							<input type="radio" id="none" name="display" value="0" /><label for="none">隐藏</label>
						</case>
						<case value="0">
							<input type="radio" id="block" name="display" value="1" /><label for="block">显示</label>
							<input type="radio" id="none" name="display" value="0" checked /><label for="none">隐藏</label>
						</case>
					</switch>
    			</td>
    		</tr>
    	</table>
			 <input type="submit" value="Modified" />
	</form>
<include file="Public/footer" />