<include file="Public/head" />
    <include file="Public/nav" />
	<form action="__ROOT__/Snail/About/add" method="post" class="container">
		<table class="table">
			<caption>Add a new About</caption>
			<tr>
			    <td>
				    <input type="text" name="key" placeholder="Key" />
			    </td>
			</tr>
			<tr>
			    <td class="col-xs-12">
			    	<script id="ueditor" name="value" type="text/plain"></script>
					<include file="Public/ueditor" />
			    </td>
			</tr>
			<tr>
			    <td>
				    <input type="radio" id="block" name="display" value="1" checked /><label for="block">显示</label>
					<input type="radio" id="none" name="display" value="0" /><label for="none">隐藏</label>
				</td>
			</tr>
		</table>
		<input type="submit" value="Add" />
	</form>
<include file="Public/footer" />