<include file="Public/head" />
	<div class="container">
      <form action="__URL__/signin" method="post" class="signin">
        <h2>Please sign in</h2>
        <input type="text" name="username" class="form-control login-input" placeholder="UserName" required autofocus>
        <input type="password" name="password" class="form-control login-input" placeholder="PassWord" required>
        <button id="login" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div>
<include file="Public/footer" />